/*
This file is subject to the terms and conditions defined in
file 'LICENSE.txt', which is part of this source code package.
*/
/*
    Created on : Jan 8, 2018, 7:42:46 PM
    Author     : jobinrjohnson
*/

/* ------------------------------------------- */

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	min-height: 100vh;
	color: #fff;
	background-color: #000;
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	overflow-x: hidden;
}

/* ---------------NAV BAR--------------- */

.navbar-dark {
  background : transparent !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: #cccccc;
  font-size: 1.22em;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #ff6666;
}

/* -----------TRACE LOGO ANIMATION----------- */

.logo-enlarge {
	transition: all .2s ease-in-out;
}

.logo-enlarge:hover {
	transform: scale(1.1);
}

/* ------------------------------------------- */

main {
	position: relative;
	width: 100%;
	background-color: #1a1a1a;
}

.content {
	position: relative;
	display: grid;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin: 0 auto;
	min-height: 100vh;
}

/* Canvas positions */

.content__inner {
	grid-area: 1 / 1 / 1 / 1;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;
}

.scene {
	position: absolute;
}

.scene--full {
	width: 100%;
	height: 100vh;
}

.main-header {
	--color-text: #fff;
	--color-bg: #0F1617;
	--color-link: #4dc4a8;
	--color-link-hover: #333;
	--color-info: #ac1122;
	--color-title: #fff;
	--color-subtitle: #fff;
    --color-subtitle-bg: #4dc4a8;
}

.content__title {
	font-size: 10vw;
	font-weight: normal;
	color: var(--color-title);
	text-align: center;
	margin: 0;
	pointer-events: none;
}

.content__subtitle {
	font-size: 1.25em;
	background: var(--color-subtitle-bg);
	color: var(--color-subtitle);
	padding: 0.45em 0.5em;
	line-height: 1;
	margin: 0;
	letter-spacing: 0.5em;
	text-indent: 0.5em;
	font-weight: bold;
	text-transform: uppercase;
}

@media screen and (max-width: 55em) {
	.content__title {
		font-size: 3.5em;
	}
	.content__subtitle {
		font-size: 0.9em;
		text-align: center;
		letter-spacing: 0.25em;
	}
	.nav-link {
		font-size: 0.9em;
	}
	
}

/* -------------PRELOADER------------- */

.cube1, .cube2 {
	background-color: #fff;
	width: 15px;
	height: 15px;
	position: absolute;
	top: 48%;
	left: 48%;
	-webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
	animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
	25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
	50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
	75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
	100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
	25% {
		transform: translateX(42px) rotate(-90deg) scale(0.5);
		-webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
	} 50% {
		transform: translateX(42px) translateY(42px) rotate(-179deg);
		-webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
	} 50.1% {
		transform: translateX(42px) translateY(42px) rotate(-180deg);
		-webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
	} 75% {
		transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
		-webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
	} 100% {
		transform: rotate(-360deg);
		-webkit-transform: rotate(-360deg);
	}
}

/* ---HIDES THE LOADING ELEMENTS FOR THE SPINNER--- */

.spinner-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	z-index: 999999;
}

/* ------------ SCROLL BAR EFFECT ------------ */

::-webkit-scrollbar {
	width: 8px;
  }
  
  ::-webkit-scrollbar-track {
	background: #000;  /* #2F2F31 */
  }
  
  ::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0);  /* #2F2F31 */
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, 0.6);  /* #2F2F31 */
  }
  
  
/* --------------ABOUT PAGE-------------- */

#about {
		height: 100vh;
		background-color: #0d0d0d;
}

.part {
	width: 86%;
	margin: 0 7%;
	padding-top: 5%;	
}

.mast {
	font-family: 'Bree Serif', serif;
	color: red;
	font-size: 3.5em;
	letter-spacing: 2px;
	padding-top: 6%;
 	text-align: center;
}

.sub {
	color: white;
	font-size: 2em;
	letter-spacing: 1px;
	font-family: Poppins;
	text-align: center;
	padding-top: 12px;
}

blockquote {
	font-size: 1.25em;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	padding-top: 14px;
	text-align: justify;
	color: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 55em) {
	.mast {
		font-size: 2.5em;
	}
	.sub {
		font-size: 1.25em;
	}
	blockquote {
		font-size: 0.9em;
	}
}

/* ------------------------------------------- */