/*
This file is subject to the terms and conditions defined in
file 'LICENSE.txt', which is part of this source code package.
*/
/*
    Created on : Jan 8, 2018, 7:42:46 PM
    Author     : jobinrjohnson
*/

/* ------------------------------------------- */

body, html {
    margin: 0;
    padding: 0;
}

html, body, header, nav, section, div,
h1, h2, h3, p, ul, li, button, a,
span {
    transition: all .2s ease-out;
}

body {
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

#container {
    width: 86%;
    margin: 0 7%;
}

/* ------------------------------------------- */

header {
    top: 0 !important;
    position: fixed;
    background: #0d0d0d;
    width: 100%;
}

header nav ul {
    list-style-type: none;
	float: right;  
	padding: 18px 5% 0 0;
}

header img {
    float: left;
    margin: 3px 0 3px 9%;
}

header nav li{
    text-decoration: none;
    float: left;
    padding: 0 30px;
    letter-spacing: 3px;
    font-weight: 800;
	font-size: 15px;
	cursor: pointer;
}

header nav a {
    text-decoration: none;
	text-transform: uppercase;
	padding: 10px 0;
    font-family: 'Raleway', sans-serif;
	color: #fff;
}

header nav li:hover a{
	border-bottom: 2px solid #fff;

}

/* ------------------------------------------- */

#home {
	height: 100vh;
	background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.05)), url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
	background-size: cover;

}

.content {
	padding-top: 35vh;
}


.content__inner {
	display: flex;
	flex-direction: column;
}


.content__title {
	font-size: 10vw;
	font-weight: normal;
    color: #fff;
    font-family: 'Raleway', sans-serif;
	margin: 0;
	pointer-events: none;
}

.content__subtitle {
	font-size: 1.25em;
    color: #fff;
	padding: 0.45em 0;
	line-height: 1;
	margin: 0;
	letter-spacing: 0.5em;
	text-indent: 0.5em;
	font-weight: bold;
	text-transform: uppercase;
}

/* -------------PRELOADER------------- */

.cube1, .cube2 {
	background-color: #fff;
	width: 15px;
	height: 15px;
	position: absolute;
	top: 48%;
	left: 48%;
	-webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
	animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
	25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
	50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
	75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
	100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
	25% {
		transform: translateX(42px) rotate(-90deg) scale(0.5);
		-webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
	} 50% {
		transform: translateX(42px) translateY(42px) rotate(-179deg);
		-webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
	} 50.1% {
		transform: translateX(42px) translateY(42px) rotate(-180deg);
		-webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
	} 75% {
		transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
		-webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
	} 100% {
		transform: rotate(-360deg);
		-webkit-transform: rotate(-360deg);
	}
}

/* ---HIDES THE LOADING ELEMENTS FOR THE SPINNER--- */

.spinner-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	z-index: 999999;
}

/* ------------------------------------------- */

.logo-hover img {
	transition: all .2s ease-in-out;
}

.logo-hover:hover img {
	transform: scale(1.1);
}

/* ------------------------------------------- */

#about {
	background-color: #fff;
	height: 70vh;
}

.ab1, .ab2 {
	padding: 20px 0;
}

.ab1 {
	width: 43%;
	float: left;
}

.ab1 p {
	text-align: justify;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	padding-bottom: 15px;
}

.ab1 h2 {
	text-align: center;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 32px;
	line-height: 40px;
}

.ab1 h4 {
	text-align: center;
	font-size: 1.1em;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

.ab1 a {
	text-align: center;
	border: 2px solid #303030;
	color: #303030;
	padding: 10px 20px;
	text-decoration: none;
	letter-spacing: 1px;
	font-family: 'Raleway', sans-serif;
	background-color: #fff;
	font-weight: 700;
	font-size: 13px;

}

.ab1 a:hover {
	background-color: #303030;
	color: #fff;
}

.line-separator {
	display: block;
	text-align: center;
	width: 20%;
	padding: 0 40%;
	color: #303030;

}

.ab2 {
	width: 50%;
	float: left;
	padding-left: 7%;

}

.ab2 img {
	height: auto;
	max-width: 100%;
	padding: 30px 0;
}

/* ------------------------------------------- */

#info {
	height: 50vh;
	background-color: #000;
}