/*
This file is subject to the terms and conditions defined in
file 'LICENSE.txt', which is part of this source code package.
*/
/*
    Created on : Jan 8, 2018, 7:42:46 PM
    Author     : jobinrjohnson
*/

/* ------------------------------------------- */

body, html {
    margin: 0;
	padding: 0;
	overflow-x: hidden;
}

html, body, header, nav, section, div,
h1, h2, h3, p, ul, li, button, a,
span {
    transition: all .2s ease-out;
}

body {
    background-color: #000;
    font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
	color: #fff;
}

#container {
    width: 86%;
    margin: 0 7%;
}

/* ------------------------------------------- */

header {
    top: 0 !important;
    position: fixed;
    background: #0d0d0d;
    width: 100%;
}

header nav ul {
    list-style-type: none;
	float: right;  
	padding: 18px 5% 0 0;
}

header img {
    float: left;
    margin: 3px 0 3px 9%;
}

header nav li{
    text-decoration: none;
    float: left;
    padding: 0 30px;
    letter-spacing: 3px;
    font-weight: 800;
	font-size: 15px;
	cursor: pointer;
}

header nav a {
    text-decoration: none;
	text-transform: uppercase;
	padding: 10px 0;
    font-family: 'Raleway', sans-serif;
	color: #fff;
}

header nav li:hover a{
	border-bottom: 2px solid #fff;

}

/* ------------------------------------------- */

#home {
	height: 100vh;
	background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.05)), url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
	background-size: cover;
}

.content {
	padding-top: 35vh;
}

.content__inner {
	display: flex;
	flex-direction: column;
}

.content__title {
	font-size: 10vw;
	font-weight: 700;
    color: #fff;
    font-family: 'Raleway', sans-serif;
	margin: 0;
	pointer-events: none;
}

.content__subtitle {
	font-size: 1.26em;
    color: #fff;
	padding: 0.45em 0;
	line-height: 1;
	margin: 0;
	letter-spacing: 0.5em;
	text-indent: 0.5em;
	font-weight: bold;
	text-transform: uppercase;
}

/* -------------PRELOADER------------- */

.cube1, .cube2 {
	background-color: #fff;
	width: 15px;
	height: 15px;
	position: absolute;
	top: 48%;
	left: 48%;
	-webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
	animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
	25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
	50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
	75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
	100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
	25% {
		transform: translateX(42px) rotate(-90deg) scale(0.5);
		-webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
	} 50% {
		transform: translateX(42px) translateY(42px) rotate(-179deg);
		-webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
	} 50.1% {
		transform: translateX(42px) translateY(42px) rotate(-180deg);
		-webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
	} 75% {
		transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
		-webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
	} 100% {
		transform: rotate(-360deg);
		-webkit-transform: rotate(-360deg);
	}
}

/* ---HIDES THE LOADING ELEMENTS FOR THE SPINNER--- */

.spinner-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	z-index: 999999;
}

/* ------------------------------------------- */

.logo-hover img {
	transition: all .2s ease-in-out;
}

.logo-hover:hover img {
	transform: scale(1.1);
}

/* ------------------------------------------- */

#about {
	background-color: #fff;
	min-height: 75vh;
	color: #303030;
}

#abc {
	padding: 20px 0;
}

.ab1 {
	width: 43%;
	float: left;
	color: #000;
}

.ab1 p {
	text-align: justify;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #303030;
}

.ab1 h2 {
	text-align: center;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 36px;
	line-height: 40px;
}

.ab1 h4 {
	text-align: center;
	font-size: 1.1em;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

.ab1 a {
	text-align: center;
	border: 2px solid #303030;
	color: #303030;
	padding: 10px 20px;
	text-decoration: none;
	letter-spacing: 1px;
	font-family: 'Raleway', sans-serif;
	background-color: #fff;
	font-weight: 700;
	font-size: 13px;

}

.ab1 a:hover {
	background-color: #303030;
	color: #fff;
}

.line-separator hr {
	display: block;
	text-align: center;
	max-width: 20%;
	padding: 0 10%;
	color: #303030;
}

.ab2 {
	width: 50%;
	float: left;
	padding-left: 7%;

}

.ab2 img {
	height: auto;
	max-width: 100%;
	padding: 30px 0;
}

/* ------------------------------------------- */

#features {
	height: 28vh;
	background-color: #000;
	color: #fff;
}

.d1, .d2, .d3 {
	float: left;
	text-align: center;
	width: 33%;
	padding-top: 25px;
	padding-bottom: 20px; 
}

.d1 {
	padding-left: 10%;
}

.d3 {
	padding-right: 10%;
}

.d2 {
	padding-left: 5%;
	padding-right: 5%;
}

.d1 p, .d2 p, .d3 p {
	line-height: 25px;
}

.ico {
	width: 38px;
	height: 38px;
}

/* ------------------------------------------- */

#gallery {
	clear: both;
	min-height: 100vh;
	background-color: #fff;
	padding-bottom: 25px;
	color: #000;
}

#gallery h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 45px;
	line-height: 40px;
	text-align: center;
	padding-top: 70px;
}

#gallery p {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 100%;
	padding-bottom: 70px;
}
* {
    box-sizing: border-box;
}

.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}

.column {
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
}

.column img {
	margin-top: 8px;
	
}

/* ------------------------------------------- */

#footer {
	height: 40vh;
	background-color: #000;
	font-family: 'Raleway', sans-serif;
}

.f1, .f2, .f3 {
	float: left;
	width: 33%;
	padding-top: 35px;
	padding-bottom: 20px; 
}

.f1 {
	padding-left: 10%;
}

.f1 h2 {
	font-size: 2.2em;
}

.f1 p, .f3 p{
	color: #999999;
}

.f2 {
	padding-left: 5%;
	padding-right: 5%;
}

.f2 ul {
	list-style-type: none;
	padding-left: 0;
}

.f2 ul li {
	line-height: 25px;

}

.f2 ul li a {
	color: #999999 !important;
	text-decoration: none;
}

.f2 ul li a:hover, .f3 a:hover {
	color: #fff !important;
}

.f3 {
	padding-right: 10%;
	line-height: 25px;
}

.f3 p {
	margin: 0;
}

.f3 a {
	text-decoration: none;
	color: #999999;
}
/* ------------------------------------------- */
