/*
This file is subject to the terms and conditions defined in
file 'LICENSE.txt', which is part of this source code package.
*/
/*
    Created on : Jan 8, 2018, 7:42:46 PM
    Author     : jobinrjohnson
*/

body {
  font-family: 'Poppins', sans-serif;
	font-weight: 500;
	min-height: 100vh;
	color: #fff;
	background-color: #000;
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
}

.navbar-light
{
  background : transparent !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #cccccc;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #ff6666;
}

.navbar-light .navbar-nav .nav-link:focus {
    color: #fff;
	font: 20px sans-serif;
}

main {
	position: relative;
	width: 100%;
}

.content {
	position: relative;
	display: grid;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin: 0 auto;
	min-height: 100vh;
}
/* Canvas positions */
.content__inner {
	grid-area: 1 / 1 / 1 / 1;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;
}

.scene {
	position: absolute;
}

.scene--full {
	width: 100%;
	height: 100vh;
}
.main-header {
	--color-text: #fff;
	--color-bg: #0F1617;
	--color-link: #4dc4a8;
	--color-link-hover: #333;
	--color-info: #ac1122;
	--color-title: #fff;
	--color-subtitle: #fff;
    --color-subtitle-bg: #4dc4a8;
}

.content__title {
	font-size: 10vw;
	font-weight: normal;
	color: var(--color-title);
	text-align: center;
	margin: 0;
	pointer-events: none;
}

.content__subtitle {
	font-size: 1.25em;
	background: var(--color-subtitle-bg);
	color: var(--color-subtitle);
	padding: 0.45em 0.5em;
	line-height: 1;
	margin: 0;
	letter-spacing: 0.5em;
	text-indent: 0.5em;
	font-weight: bold;
	text-transform: uppercase;
}

@media screen and (max-width: 55em) {
	.content__title {
		font-size: 3.5em;
	}
	.content__subtitle {
		font-size: 0.85em;
	}
}
